[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u btn_event.py
WorkingDirectory=/home/pi/videoplayer
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
